
.carousel .carousel-item {
    height: 100vh;
    overflow:hidden;
    background: #B2BEB5;
}

  
.carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 100%;
      opacity: 0.8;
      
}


.carousel-caption {
    bottom: 30%;
}






body {
    font-family: 'Crimson Pro', serif;
}

#introCarousel {
    margin-top: -58.59px;
}


.hidden-left {
    opacity: 0; 
    transition: all 1s;

}

.show-left {
    opacity: 1;
}

.hidden-right {
    opacity: 0;
    transition: all 1s;

}

.show-right {
    opacity: 1;
}

.btn.btn-outline-primary:active {
    border:1px solid #27AE60; 
    color: #fff;
    background-color: #27AE60;
}

.btn-outline-primary {
    border:2px solid #27AE60; 
    color: #27AE60;
    font-family: 'Open Sans';
    font-weight:900;

}

.btn-outline-primary:hover {
    border:1px solid #27AE60; 
    color: #fff;
    background-color: #27AE60;
}


.btn-primary {
    border:1px solid #27AE60; 
    color: #fff;
    background-color: #27AE60;
    font-family: 'Open Sans';
    font-weight: 900;
    font-size: 16px;

}

.btn.btn-primary:hover {
    border:1px solid #27AE60; 
    color: #fff;
    background-color: #27AE60;
    transform: scale(1.1);
    box-shadow: -3px 8px 11px 2px #2D2D2D;



}

/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
    transform: scale(1.2); 
    
    }
